@use "../../styles/mixins" as *;

.hero-section {
  background-image: url(../../images/background/Selection.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      #000000e6 0%,
      #000000b3 50%,
      #00000000 100%
    );
    border-radius: 0px 0px 0px 0px;
    z-index: 1;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  padding: 2rem;

  &-title {
    font-family: Inter, sans-serif;
    font-size: 6rem;
    margin-bottom: 1rem;

    @include mobile-small {
      font-size: 1.9rem;
      margin-bottom: 0rem;
    }

    @include mobile-medium {
      font-size: 2.5rem;
      margin-bottom: 0.1rem;
    }

    @include tablet {
      font-size: 3rem;
      margin-bottom: 0.3rem;
    }

    @include laptop-small {
      font-size: 4rem;
      margin-bottom: 0.6rem;
    }

    @include laptop {
      font-size: 5rem;
      margin-bottom: 0.8rem;
    }
  }

  &-subtitle {
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: #8c8d8bff;

    @include mobile-small {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    @include mobile-medium {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    @include tablet {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }

    @include laptop-small {
      font-size: 1.6rem;
      line-height: 2rem;
      margin: 1rem;
    }

    @include laptop {
      font-size: 1.6rem;
      line-height: 2.3rem;
      margin: 1.5rem;
    }
  }

  &-button {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #fff;
    background: #636ae8ff;
    opacity: 1;
    border: none;
    border-radius: 9999px;
    gap: 8px;
    cursor: pointer;

    text-decoration: none;

    &-icon {
      width: 24px;
      height: 24px;
      fill: #fff;
    }

    @include mobile-small {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    @include mobile-medium {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    @include tablet {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }

    @include laptop-small {
      font-size: 1.6rem;
    }

    @include laptop {
      font-size: 1.6rem;
    }

    @include desktop-large {
      transition: background-color 0.3s ease;

      &:hover {
        background-color: scale(1.05);
      }
    }
  }
}
