@use "../../styles/mixins" as *;

.header {
  /* Box model */
  width: 100%;
  height: 60px;
  padding: 0;
  border-radius: 0;

  /* Display & positioning */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* Visual */
  background: #000;
  text-decoration: none;

  &-link {
    /* Typography */
    font-family: Inter, sans-serif;
    font-size: 3rem;
    line-height: 3;
    font-weight: 600;
    color: #f4f4f6ff;

    /* Decoration */
    text-decoration: none;

    @include mobile-small {
      font-size: 1rem;
    }

    @include mobile-medium {
      font-size: 1rem;
    }

    @include tablet {
      font-size: 2rem;
    }

    @include laptop-small {
      font-size: 2rem;
    }

    @include laptop {
      font-size: 2rem;
    }
  }

  &-burger {
    width: 30px;
    height: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 101;

    @include mobile-small {
      display: flex;
    }

    @include mobile-medium {
      display: flex;
    }

    @include tablet {
      display: flex;
    }

    &-line {
      height: 3px;
      width: 100%;
      background-color: rgb(99, 106, 232);
      transition: all 0.3s ease;
      border-radius: 2px;
    }

    &.active {
      .header-burger-top {
        background-color: rgb(47, 57, 160);
        transform: translateY(10px) rotate(45deg);
      }

      .header-burger-middle {
        background-color: rgb(47, 57, 160);
        opacity: 0;
      }

      .header-burger-bottom {
        background-color: rgb(47, 57, 160);
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }

  &-nav {
    /* Display & positioning */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-list {
      /* Display & positioning */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      /* Box model */
      margin: 0;
      padding: 0;

      /* Decoration */
      list-style: none;

      &-item {
        /* Box model */
        margin: 0 20px 0 0;

        &-link {
          /* Positioning */
          position: relative;

          /* Typography */
          font-family: Inter, sans-serif;
          font-size: 1.2rem;
          line-height: 1.5;
          font-weight: 500;
          color: #f4f4f6ff;

          text-decoration: none;

          transition: all 0.3s ease-in-out;

          @include tablet {
            font-size: 0.8rem;
          }

          @include laptop-small {
            font-size: 0.8rem;
          }

          @include laptop {
            font-size: 1rem;
          }

          &:hover {
            color: #636ae8ff;
          }

          &::before {
            position: absolute;
            bottom: -0.4rem;
            left: 0;

            width: 0;
            height: 1.5px;

            background: #636ae8ff;

            content: "";

            transition: width 0.3s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 900px) {
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background: rgba(0, 0, 0, 0.85);
      backdrop-filter: blur(6px);
      flex-direction: column;
      padding-top: 20px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 100;
      display: none;

      &.active {
        display: flex;
        transform: translateX(0);
      }

      &-list {
        flex-direction: column;
        align-items: center;

        &-item {
          margin: 15px 0;

          &-link {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  &-dowload-button {
    /* Box model */
    padding: 10px 12px;
    border-radius: 8px;
    border: none;

    /* Display & positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* Typography */
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;

    /* Visual */
    color: #fff;
    background-color: #636ae8ff;
    transition: all 0.3s ease;

    &-icon {
      /* Box model */
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: rgb(47, 57, 160);
    }
  }
}
