@use "../../styles/mixins" as *;

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #333;

  &-title {
    font-family: Inter, sans-serif;
    font-size: 3rem;
    line-height: 48px;
    font-weight: 700;
    color: #f4f4f6ff;

    margin-bottom: 0;

    @include mobile-small {
      font-size: 1.9rem;
    }

    @include mobile-medium {
      font-size: 2.3rem;
    }
  }

  &-subtitle {
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #8c8d8bff;
    text-align: center;

    @include mobile-small {
      font-size: 1rem;
    }

    @include mobile-medium {
      font-size: 1.3rem;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;

    @include tablet {
      margin: 0 auto;
      align-items: center;
      justify-content: center;
    }

    &-texts,
    &-image {
      flex: 1;
      min-width: 500px;

      @include mobile-small {
        min-width: 300px;
      }

      @include mobile-medium {
        min-width: 400px;
      }

      @include tablet {
        min-width: 400px;
      }
    }

    &-texts {
      margin-right: 0;
      margin-bottom: 20px;
      padding: 0 20px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;

      border-radius: 16px;

      @include tablet {
        align-items: left;
        text-align: left;
      }
    }

    p {
      font-family: Inter, sans-serif;
      font-size: 1.2rem;
      line-height: 1.5;
      font-weight: 400;
      color: #8c8d8bff;
      margin-bottom: 20px;
      text-align: left;

      @include mobile-small {
        font-size: 1rem;
        line-height: 1.4;
      }

      @include mobile-medium {
        font-size: 1rem;
        padding: 0 15px;
      }

      @include tablet {
        font-size: 1.1rem;
      }

      @include laptop-small {
        font-size: 1.2rem;
      }

      @include laptop {
        font-size: 1.2rem;
      }
    }

    &-image {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 16px;
      object-fit: cover;

      margin: 0 auto;

      @include mobile-small {
        max-width: 200px;
      }

      @include mobile-medium {
        max-width: 250px;
      }

      @include tablet {
        max-width: 400px;
        flex: 1;
      }

      @include laptop-small {
        max-width: 500px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      @include laptop {
        max-width: 600px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      @include desktop-large {
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
